# 라이브러리 복습

- numpy : 고속연산의 수학함수, 고차원 배열(ndarray), 같은 인덱스의 데이터끼리는 한번에 연산 가능 
- pandas : 표 형태의 데이터를 다룰때 사용(엑셀대체), 간단한 시각화 기능
- matplotlib : python의 시각화 도구, seaborn(matplotlib 기반의 사용자 편의성을 확보한 시각화 도구)

In [19]:
import pandas as pd
# 데이터프레임 
pd.set_option("display.max_colwidth",None)

In [4]:
# 시리즈 1개 생성
s1 =pd.Series([1,10,100,1000],index=['a','b','c','d']) 
# 데이터프레임 1개 생성
df1=pd.DataFrame([[1,2],[3,4],[5,6]], index=['a','b','c'],columns=['name','age'])

In [5]:
df1

   name  age
a     1    2
b     3    4
c     5    6

In [20]:
# 데이터 읽기 (apt.csv를 읽어서 상위 5개 데이터만 살펴보기)
df2 = pd.read_csv("./data/apt.csv", encoding = "cp949")
df2.head() #상위 데이터 보여주기(기본 5개)
# df2.head(20)  상위 데이터 20개

,지역,번지,본번,부번,아파트,면적,계약년월,계약일,가격,층,건축년도,도로명
0,강원도 강릉시 견소동,202,202,0,송정한신,59.800,201910,4,10900,5,1997,경강로2539번길 8
1,강원도 강릉시 견소동,202,202,0,송정한신,116.175,201910,31,18500,10,1997,경강로2539번길 8
2,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,5,25000,6,2005,경강로2539번길 22
3,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,12,20600,3,2005,경강로2539번길 22
4,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,20,20500,1,2005,경강로2539번길 22

0        False
1        False
2        False
3        False
4        False
         ...
42753    False
42754    False
42755    False
42756    False
42757    False
Name: 지역, Length: 42758, dtype: bool

In [30]:
#색인
# iloc,loc => 특정 인덱스를 지정해서 색인
# 아파트 이름, 면적, 층 컬럼 색인
# 1~100번째 행 색인

#iloc 사용 (숫자 인덱스)
df3=df2.iloc[0:100,[4,5,9]]
#loc 사용 (앞에 글자)
df3 =df2.loc[:100,['아파트','면적','층']]

In [32]:
# 불리언 색인(조건기반 색인)
# df3에서 면적이 50미만인 아파트만 색인
#bol=df3['면적']<50
#df3.loc[bol,:]
df4= df3[df3['면적']<50]
df4

        아파트      면적   층
35      서일2  27.750   1
43     내곡시영  39.300   5
45    노암2주공  42.740   1
46    노암3한라  39.762  11
49    노암3한라  39.762   3
59   영진노암2차  49.525   2
67     삼우그린  30.240   4
68     삼우그린  43.200   9
69     삼우그린  43.200  12
83  삼동광업소사원  43.470   2
90    입암1주공  39.720   4
91    입암2주공  46.680   1
92    입암2주공  39.690   5
93    입암2주공  39.690   3

In [47]:
df5=df2['지역']
df5.str.contains("광주", regex=False)

0        False
1        False
2        False
3        False
4        False
         ...
42753    False
42754    False
42755    False
42756    False
42757    False
Name: 지역, Length: 42758, dtype: bool

In [45]:
# 광주광역시의 평균 아파트 가격 구하기
df
df2[df2['지역']  '광주광역시']['가격'].mean()

TypeError: 'in <string>' requires string as left operand, not Series