In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("./data/bmi_lbs.csv")
data['Weight(kg)'] = data['Weight(lbs)'] * 0.453592

#### 학습 데이터

In [3]:
X = data[['Height','Weight(kg)']]
y = data['Label']

#### 예측할 샘플 데이터

In [4]:
sample_data = data.iloc[[30,110,150,433,498],[2,4]]
ground_truth = data.iloc[[30,110,150,433,498],0]
sample_data

     Height  Weight(kg)
30      153  120.998660
110     150   69.999225
150     196   49.999446
433     179  126.998593
498     150   94.998948

#### 과제
 1. 예측 데이터와 모든 학습 데이터(500개)와의 거리 계산 -> 유클리드 거리 계산
 2. 계산된 모든 거리값 중 설정된 k값(k=5)만큼 가장 가까운 데이터 추출
 3. 추출된 데이터의 비율 확인 후 예측

In [5]:
X-sample_data.iloc[1]

     Height  Weight(kg)
0      24.0   25.999712
1      39.0   16.999812
2      35.0   39.999557
3      45.0   33.999623
4      -1.0   -8.999900
..      ...         ...
495     0.0   82.999081
496    34.0   50.999435
497    -9.0   65.999269
498     0.0   24.999723
499    23.0   60.999324

[500 rows x 2 columns]

In [6]:
# 1번
def my_KNN(input_data, k):
    # 카운터 딕셔너리
    from collections import Counter
    # 1. 모든 데이터와 input데이터 사이의 거리계산
    distance_list = []    # 결과는 5 X 500 크기
    for i in range(len(input_data)):
        temp = (X - input_data.iloc[i]) ** 2     # X데이터 전체[키, 몸무게] - i번째 샘플[키, 몸무게] -> 결과 : [a제곱, b제곱]
        distance = (temp.iloc[:, 0] + temp.iloc[:, 1])**0.5   # (키 + 몸무게) 의 제곱근
        distance_list.append(distance)
    distance_list = pd.Series(distance_list, index=input_data.index)   # list -> series 변환
    #print(distance_list)
    k_neighbors = []
    for i in range(len(input_data)):
        input_i = distance_list.iloc[i]    # 첫번째 샘플데이터(30번)
        temp = []
        for j in range(k):
            # k개만큼 최솟값들 뽑기
            idx = input_i.idxmin()
            temp.append(y.loc[idx])     # 구한 최솟값의 인덱스를 이용하여
            # 최솟값 중복 없애게 이번에 뽑은 최솟값은 제거해주기
            input_i.drop([idx], inplace=True)
        k_neighbors.append(temp)
    # k_neighbors -> 크기 : 5 X 5 (샘플데이터 갯수 X 5개의 최소거리 인덱스)
    #print(k_neighbor)
    # 3번
    output = []
    for nb in k_neighbors:
        count = Counter(nb)     # key : 등급, value: 등급이 나온 갯수
        output.append(max(count,key=count.get))
    output = pd.Series(output, index=input_data.index)
    return output

In [7]:
my_KNN(sample_data, 5)

30     Extreme Obesity
110            Obesity
150     Extremely Weak
433            Obesity
498    Extreme Obesity
dtype: object